<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <title>Home</title>
    
</head>
<body>
    <div class="loader">
        <h6 class="version">version 3.1.0</h6>
        <span class="loader__dot">.</span>
        <span class="loader__dot">.</span>
        <span class="loader__dot">.</span>
        <span class="loader__dot">.</span>
        <span class="loader__dot">.</span>
        <span class="loader__dot">.</span>
        <span class="loader__dot">.</span>
        <span class="loader__dot">.</span>
        <span class="loader__dot">.</span>
    </div>
    <hr class="horizon_line"/>
    <!-- <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" /> -->
    <hr style="height: 5px; border: 0px solid #D6D6D6; border-top-width: 1px; margin: 2px;" />
  
</body>
</html>