*{
    background-color: rgb(210, 207, 207);
}

.horizon_line{
    width: 100%;
    border-color: orange;
    background-color: brown;
    top:50%;
    margin: 0px;
}

.loader{
    font-size: large;
    margin-top:29%;
    /* left: 50%; */
    text-align: center;
    width: 100%;
}

.version{
    position: absolute;
    float: left;
}

@keyframes blink {50% { color: transparent }}
.loader__dot { 
    color: navy;
    animation: 1s blink infinite 
}
.loader__dot:nth-child(2) { 
    animation-delay: 250ms 
}
.loader__dot:nth-child(3) { 
    animation-delay: 500ms 
}
.loader__dot:nth-child(4) { 
    animation-delay: 750ms 
}
.loader__dot:nth-child(5) { 
    animation-delay: 1000ms 
}
.loader__dot:nth-child(6) { 
    animation-delay: 1250ms 
}
.loader__dot:nth-child(7) { 
    animation-delay: 1500ms 
}
.loader__dot:nth-child(8) { 
    animation-delay: 1750ms 
}
.loader__dot:nth-child(9) { 
    animation-delay: 2000ms 
}